/* Basic style */
* {
  box-sizing: border-box;
}

body {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;

  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background: var(--secondary);
}

h1,
h2,
p,
a {
  color: var(--primary)
}

li {
  font-size: 2em;
  display: inline-block;

  a {
    display: inline-block;
    margin: 0.2em;
    padding: 0.4em 0.8em;
    background: var(--secondary);
    color: var(--highlight-primary);
    border: var(--line) solid var(--highlight-primary);
    border-radius: var(--pill);
    font-weight: normal;
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--primary);
      border-color: var(--primary);
    }
  }
}


/* UI Event Classes */

/* Jump animation on the Design link */
a[href="#design"] {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }

  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}


/* Hieronder komen jouw animaties en stijlen */
/* 1. FRONTEND LINK - SCALE ANIMATIE */
.scale {
  animation-name: scale;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

/* 2. & LINK - TRANSLATEY ANIMATIE */
.upanddown {
  animation-name: upanddown;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes upanddown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1em);
  }

  100% {
    transform: translateY(0);
  }
}

/* 4. DEVELOPMENT LINK ----- */
.shake {
  animation-name: shake;
  animation-duration: .2s;
  animation-iteration-count: 4;
}

@keyframes shake {
  0% {
    transform: translateX(0);
    rotate: 15deg;
  }

  50% {
    transform: translateX(-1em);

  }

  100% {
    transform: translateX(0);
    rotate: 0deg;

  }
}

/* 5. SPRINT 5 LINK ----- */
.focus-color {
  animation-name: focus-color;
  animation-duration: 1s;
  animation-iteration-count: 3;
}

@keyframes focus-color {
  0% {
    background-color: var(--highlight-primary);
  }

  50% {
    background-color: var(--highlight-secondary);
  }

  100% {
    background-color: var(--highlight-primary);
  }
}

/* 5. FIX LINK ----- */

/* 6. THE LINK ----- */
.the-rotate {
  animation-name: the-rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes the-rotate {
  0% {
    rotate: 0deg;
  }

  50% {
    rotate: 1turn;
  }

  100% {
    rotate: 0deg;
  }
}

/* 7. FLOW LINK ----- */
/* .flow-flip {
  transform: scaleX();
} */

a [href="#flow"] {}

.flow-flipped {
  transform: scaleX(-1);
}

/* @keyframes flow-flip {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(-1);
  }
} */


/* 8. USER LINK ----- */
a [href="#user"] {}

.user-active {
  color: var(--highlight-secondary);
  border: 0.1rem solid var(--highlight-secondary);
}

/* 9. INTERFACE LINK ----- */
/* a [href="#interface"] */

/* .ballon {
  animation-name: interface-ballon;
  animation-duration: 5s;
  animation-iteration-count: 1;
} */

a[href="#interface"] {
  transition:
    scale 3s ease,
    filter 3s ease;
}

.ballon {
  scale: 5;
  filter: blur(.2em);
}

/* @keyframes interface-ballon {
  0% {
    scale: 1;
  }

  100% {
    scale: 5;
    filter: blur(.2em);
  }
} */

/* 10. EVENTS LINK ----- */
a[href="#events"] {
  transition:
    font-size 3s ease;
}

.font-wheel {
  font-size: 3em;
}

/* 11. INTERACTION LINK ----- */
a[href="#interaction"]:hover {
  --x: 50%;
  --y: 50%;
  /* In het midden */

  background: radial-gradient(circle at var(--x) var(--y),
      var(--highlight-primary) .3em,
      var(--highlight-secondary) .7em);
}